
.search{
  width: '40%';
  box-sizing: 'border-box';
  float: 'left';
}
.datadisplay{
  width: '60%';
  height: '300px';
  box-sizing: 'border-box';
  float: 'left';
  text-align: 'center';
  overflow: 'auto';
}
